/*header */

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px;
  padding-bottom: 50px;
}

.page-link {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
  padding: auto;
  margin: 5px;
}

.page-link:hover {
  color: red;
}


.right_header {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.left_header {
  position: absolute;
  left: 0px;
  padding: 10px;
}

/*Page body*/
.search-body {
  display: flex;
  justify-content: center;
}

img{
  justify-content: center;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"] {
  border-radius: 20px;
  padding: 5px;
  font-size: 15px;
}

/*Advanced Search body*/

.adv_srch {
  display: flex;
  justify-content: left;
  padding: 0px;
}

#adv_srch_lbl {
  color: red;
}


.adv_srch li {
  display: flex;
  justify-content: flex-start;
}

.adv_srch input[type="submit"] {
  background-color: #488cfa;
  color: aliceblue;
  justify-content: right;
}

.adv_srch li>input[type="text"] {
  display: flex;
  justify-content: flex-end;
}

.adv_srch li>label {
  min-width: 200px;
}